body {
  text-align: center;
  font-family: Helvetica;
}

a {
  color: white;
  font-size: 18px;
}

.backgroundImage {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

.backgroundImage h3 {
  font-weight: bold;
}

#broadway {
  font-size: 70px;
  font-weight: bold;
}

.item h5  {
  font-size: 23px;
}

.item h4 {
  font-size: 32px;
}

#footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
